* {
  margin: 0 auto;
  padding: 0;
}

img {
  position: absolute;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: 1;
}
/* ---------------HEADER------------- */
.header {
  background-image: url("../images/background-image.jpg");
  background-repeat: repeat-x;
  width: 1600px;
  height: 961px;
  margin: 0 auto;
}

.main-logo{
  position:relative;
  float: left;

  background-image: url("../images/ghosthost-logo.png");
  background-repeat: no-repeat;

  display: block;
  height:29px;
  width:133px;
  text-indent:100%;
  overflow: hidden;

  left: 205px;
  top: 32px;
}


.header-wrapper {
  position: relative;
  float: right;

  right: 170px;
  top: 36px;
}

.header-wrapper a{
  display: block;
  color: #fff;
  padding: 0;
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 11pt;
}


nav ul li{
  margin-left:0;
  margin-right:10px;
}

nav li{
  display: inline-block;
  margin: 0;
  padding-top: 1px;
  padding-right: 24px;
  padding-left: 30px;
}

nav li:first-child{
  margin-right: 13px;
}

nav li:nth-child(2){
  margin-right: 15px;
}

nav li:nth-child(3){
  margin-right: 13px;
}

nav li:nth-child(4){
  margin-right: 12px;
}

nav li:nth-child(5){
  margin-right: 11px;
}


nav li:nth-child(6){
  margin-right: 9px;
}

.header-line{
  position: relative;
  width: 1195px;
  height: 1px;

  top: 90px;
  background-color: #fff;
  opacity: 0.1;
}

nav li a:hover{
  padding-bottom: 37px;
  border-bottom: 1px solid #fff;
}

.banner-text{
  margin-top: 420px;
  margin-left: 5px;
  color: #fff;
  text-align: center;
}

.banner-heading{
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 52pt;
  font-weight: bold;
}

.banner-text p{
  margin-top: 9px;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 22pt;
  line-height: 46px;
  letter-spacing: 1.1px;
}

.logreg{
  
  margin-top: 340px;
  height: 120px;
  background: linear-gradient(103deg, #21424b 790px, #2fab6c 50%);
  text-align: center;
}

.logreg a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  letter-spacing: 1px;
  padding-top: 48px;
}

.login {
  position: relative;
  float: left;
  padding-left: 470px;
}

.register{
  position: relative;
  float: right;
  padding-right: 445px;
}

.logreg a:hover{
  opacity: 0.3;
}

/*-------DOMAIN-------*/
.domain-wrapper{
  width:1600px;
  margin-top: 100px;
  padding-top: 90px;
  padding-left: 1px;
  text-align: center;
}

.domain-heading {
  font-family: 'Arial', sans-serif;
  letter-spacing: -0.8px;
  color: #383838;
}

.domain-text{
  line-height: 64px;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.7px;
  color: #9d9d9d;
}

.domain-form{
  margin-top: 25px;
  border: 1px solid #d9d9d9;
  width: 888px;
  height: 48px;
}

.domain-input {
  padding-left: 12px;
  margin-top: 15px;
  width: 721px;
  border: 0;
	font-size: 15px;
  font-weight: 500;
}

.domain-label{
  display: inline-block;
  padding: 7px 18px 7px 8px;
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  color: #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.domain-select-wrapper {
  display: block;
  float: right;
  position: relative;
  top: 8px;
  right: 15px;
  
}

.domain-table {
  margin-top: 200px;
}

.domain-select{
  padding: 7px 12px 7px 10px;
  border: none;
  border-left: 1px solid #d9d9d9;
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  color: #d9d9d9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.domain-input {
  outline: none;
}

.domain-select {
  outline:none;
}

.domain-select-wrapper:after {
  display: block;
  font-family: FontAwesome;
  content: "\f107";

  color: #d9d9d9;
  font-size: 18px;
  position: relative;
  float: right;
  top: 8px;
}

.domain-table {
	position: relative;

	margin: 40px auto;
	width: 890px;

	text-align: center;
	font-size: 14px;
	line-height: 110%;
	text-transform: capitalize;
	color: #cbcbcb;
  border-collapse: collapse;
  background-color: 
}

.domain-table td,
.domain-table th {
	position: relative;
	padding: 40px 0;
	width: 25%;
	border: 1px solid #d9d9d9; 
}

.domain-table tr:first-child th::before {
	position: absolute;
	content: "";
	width: 12%;
	height: 100%;
	display: block;
	background-color: white;
}

.domain-table tr:first-child td:last-child::after {
	position: absolute;
	content: "";
	width: 12%;
	height: 100%;
	display: block;
	left: 88%;
	background-color: white;
}

.domain-table tr:last-child td::before {
	position: absolute;
	content: "";
	width: 13px;
	height: 13px;
	display: block;
  top: -6px;
  left: -8px;
	background-color: white;
}

.domain-table tr:first-child td::before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	display: block;
	top: 0px;
	left: -8px;
	background-color: white;
}

.domain-table tr:last-child td::after {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	display: block;
	bottom: 0px;
	left: -8px;
	background-color: white;
}


/*----------HOSTING------------*/
.hosting {
  margin-top: 92px;
  max-width: 1600px;
	background-image: url('../images/hosting-background.jpg');
	background-position: top center;
  background-repeat: no-repeat;
}

.hosting-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.hosting-item {
	height: 493px;
	width: 200px;
  margin-top: 72px;
  margin-right: 0;
	padding: 35px 27px;
  padding-left: 27px;
	text-align: center;
	background-color: white;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.hosting-item.basic-item{
  border-top: 5px solid #fbd324;
}

.hosting-info {
	position: relative;
	width: 53px;
	height: 53px;
	margin: 0 auto;
	margin-bottom: 21px;
	
}

.hosting-item.basic-item{
  margin-left: 200px;
}

.hosting-info svg {
	position: absolute;
	right: 2px;
	stroke-width: 6px;
	stroke-linecap: round;
}

.hosting-info i {
	position: absolute;
	display: block;
	top: 22px;
  left: 15px;
}

.fa-anchor {
	color: #f9d423;
}

.hosting-chart.basic-pack {
  stroke: #f7d420;
}

.visually-hidden {
  text-indent:100%;
  overflow: hidden;
}

.hosting-heading {
	margin-top: 21px;
	margin-bottom: 18px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.5px;
}


.hosting-table-wrapper {
  padding: 6px 1px;
	margin-bottom: 27px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}


.hosting-table {
	width: 202px;
	text-align: left;
}

.hosting-table-head {
	padding: 9px 0;
	font-weight: 300;
	color: #b4b4b4;
}


.hosting-table-cell {
  text-align: right;
  padding-right: 1px;
}

.hosting-price {
	margin: 0 auto;
  font-family: "Lato", sans-serif;
	width: 105px;
	font-size: 28px;
	font-weight: 700;
	color: #2c2c2c;
}

.hosting-price.basic{
  border-bottom: 3px solid #fad42b;
}

.hosting-table-cell.basic {
  color: #fad42b;
}


.hosting-dollar {
	font-size: 20px;
	font-weight: 900;
}

.hosting-month {
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	color: #8d8d8d;
}

.hosting-button {
	padding: 18px 11px;
  border: 0;
  font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	color: #272727;
}

.hosting-button:hover{
  opacity: 0.3;
}

.normal-item {
  margin-left: 60px;
}

.fa-star-half-empty {
	color: #818c90;
}

.hosting-item.normal-item{
  border-top: 5px solid #7d8b8b;
}

.hosting-chart.normal-pack {
  stroke: #7f8c8d;
  -webkit-transform: rotate(-90deg);
}

.hosting-table-cell.normal {
  color: #b0b6b6;
}

.hosting-price.normal {
  border-bottom: 3px solid #828c8d;
}


.hosting-item.big-item{
  border-top: 5px solid #f5603f;
}

.hosting-price.big {
  border-bottom: 3px solid #f5603f;
}


.hosting-item.biggest-item{
  border-top: 5px solid #1cbb9d;
}

.hosting-price.biggest {
  border-bottom: 3px solid #1cbb9d;
}

.hosting-item.biggest-item{
  margin-right: 202px;
}


.hosting-table-cell.big {
  color: #f5603f;
}

.hosting-table-cell.biggest {
  color: #1cbb9d;
}

.hosting-table-cell.biggest {
  padding-right: 2px;
}

.hosting-table-cell.big {
  padding-right: 2px;
}


.hosting-chart.big-pack {
  stroke: #f5603f;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hosting-chart.biggest-pack {
  stroke: #1cbb9d;
}

.fa-star {
  color: #f5603f;
}

.fa-diamond{
  color: #1cbb9d;
}

.dashed-border {
  margin-top: 98px;
  width: 1200px;
	height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, #d4d4d4 5%, #d4d4d4 40%, rgba(255, 255, 255, 0) 30%);
  background-position: top;
  background-size: 9px 2px;
	border: none;
}

.about {
  display: flex;
  padding: 0;
  max-width: 1280px;
  margin: 100px auto 91px auto;
}

.about-text {
  width: 430px;
}

.about-heading {
  margin-bottom: 20px;
  padding: 0;
	font-size: 35px;
  font-weight: 500;
  color: #303030;
}

.about-heading span {
	font-weight: 900;
}

.about-description {
	margin: 0;
	/*padding-left: 100px;*/
	font-size: 18px;
	line-height: 27px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #747474;
}

.dashed-border-vertical {
	width: 2px;
  height: 190px;
  padding-left: 2px;  
  background-image: linear-gradient(180deg, white, white 62.5%, #d4d4d4 62.5%, #d4d4d4);
  background-position: top;
  background-size: 2px 10px;
  background-repeat: repeat-y;
  border: none;
}

.about-list {
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: start; 
  padding-top: 5px;
}

.about-li{
  list-style-type: none;
}

.about-item {
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	width: 140px;

}

.about-item.first-author{
  margin-left: -50px;
}

.about-item.third-author{
  margin-right: -45px;
}

.about-photo {
	margin-bottom: 12px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	box-sizing: border-box;
  border: 5px solid #ebe9ea;
}

.about-photo.first-author{
  display: block;
  margin-right: 830px;
}

.about-photo.second-author{
  margin-right: 602px;
}

.about-photo.third-author{
  margin-right: 372px;
}

.about-name {
  margin-top: 113px;
  margin-bottom: 8px;
  font-family: 'Lato-Bold', sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #303030;
}

.about-occupation {
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #8e8e8e;
}

.about-social {
	margin: 0 auto;
	margin-top: 12px;
	width: 110px;	
	display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.about-social-link{
  color: #bfbfbf;
}

.about-social-link:hover{
  color: #2288b8;
}

/*---------COMMENTS----------*/
.comment {
  max-width: 1600px;
  height:190px;
  background: url(../images/blog-background.jpg) no-repeat;
  background-size: cover;
}

.comment-bg {
  background: rgba(0, 0, 0, 0.2);
  padding: 45px 0 50px 0;
}

.comment-block-text {
  font-family: 'lato-light', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

.comment-block-name {
  font-family: 'lato-light', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 35px;
  padding-right: 10px;
}

.comment-block-click-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 12px;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.comment-block-click-item.active {
  background: white;
}

.comment-block-click {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.comment-bg-block {
  /*width: 80%;*/
  margin: 0 auto;
}

.comment-block-names {
  text-align: center;
}

.comment-block-name,
.comment-block-item {
  display: none;
}

.comment-block-name.active {
  display: inline-block;
}

.comment-block-item.active {
  display: block;
}

